
<body>
    <main>
        
    <pre> <button class="button"><a href="/">Home</a></button>       <button class="button"><a href="/postvideo">postvideo</a></button>      <button class="button"><a href="/login">Login</a></button>
    </pre>

    </main>
</body>