<!DOCTYPE html>
<html>
  <head>
    <title>{{pagetitle}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">

    {{#each css}}
        <link rel="stylesheet" type="text/css" href="/public/css/{{this}}">
    {{/each}}

    {{#each js}}
        <script defer src="/public/js/{{this}}"></script>
    {{/each}}
  </head>
  <body>
    {{> header}}
    {{> navbar}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
