<head>
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/index.js"></script>
</head>

<body>

    <p>Welcome to the homepage of the App. Here you can navigate through different pages as per your requirement.</p>
        
</body>
</html>