<body>

        <h2>Post your video</h2>

    <main>
        <p>Post videos if you already have an account.</p>
        <pre><label><big>Post Title : </big>        </label><textarea placeholder="Title" id="Title" cols="50" rows="2"></textarea></pre>    
        <pre><label><big>Post Description : </big> </label><textarea placeholder="Description" id="Description" cols="50" rows="4"></textarea></pre>
        
        <pre><label><big>Input a Video : </big>              </label><input type="file" name="video" required size="53"></pre>
            <br>

        <p1>Accept Acceptable Use <a href="">Policy</a> for uploading videos.<input type="checkbox"/>
            <button type="submit">Submit</button>
            </p1>
            
    </main>
    
</body>
</html>