.navbar {
    margin: 30px auto;
    text-align: center;
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    position: relative;
    display: inline-block;
    background-color: #6BBE92;
    text-transform: uppercase;
  
  }
  
  .navbar-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .navbar-item a {
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    display: block;
  }
  
  .navbar-item {
    border-radius: 100px;
  }
  
  .navbar-item:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset, rgba(44,187,99,.25) 0 1px 2px, rgba(44,187,99,.25) 0 2px 4px, rgba(44,187,99,.25) 0 4px 8px, rgba(44,187,99,.25) 0 8px 16px, rgba(44,187,99,.25) 0 16px 32px;
    transform: none;
  }
  
  .navbar-marker {
    height: 6px;
    background-color: #3E8760;
    position: absolute;
    bottom: 0;
    width: 120px;
    transition: all 0.35s;
  }
  
  .navbar-item:nth-child(1):hover ~ .navbar-marker {
    transform: translateX(20);
  }
  
  .navbar-item:nth-child(2):hover ~ .navbar-marker {
    transform: translateX(185px);
  }
  
  .navbar-item:nth-child(3):hover ~ .navbar-marker {
    transform: translateX(365px);
  }
  
  .navbar-item:nth-child(4):hover ~ .navbar-marker {
    transform: translateX(500px);
  }

  /* ------------------ drop down ------------------------ */

  body {
    font-family: 'Open Sans', sans-serif;
    background: #374954;
    color: white;
    text-align: center;
  }
  
  .dropdown-menu-nobs {
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 10px auto;
  }
  
  .dropdown-menu-nobs .button {
    background-color: #6BBE92;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 5;
    min-width: 120px;
    text-align: left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3E8760;
    min-width: 120px;
  }
  
  .dropdown-content a, .dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: #3E8760;
    border: none;
  }
  
  .dropdown-content a:hover, .dropdown-content button:hover {
    background-color: none;
  }
  
  .dropdown-menu-nobs:hover .dropdown-content {
    display: block;
  }
  